@font-face {
    font-family: 'icomoon'; 
    src:   url('icomoon.ttf?1hzuhx') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-advisoryconsultancy .path1:before {
    content: "\e928";
    color: rgb(0, 0, 0);
  }
  .icon-advisoryconsultancy .path2:before {
    content: "\e929";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advisoryconsultancy .path3:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advisoryconsultancy .path4:before {
    content: "\e92b";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-advisoryconsultancy .path5:before {
    content: "\e92c";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-advisoryconsultancy .path6:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-advisoryconsultancy .path7:before {
    content: "\e92e";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-bidmanagement .path1:before {
    content: "\e92f";
    color: rgb(207, 72, 39);
  }
  .icon-bidmanagement .path2:before {
    content: "\e930";
    margin-left: -1.01171875em;
    color: rgb(0, 0, 0);
  }
  .icon-bidmanagement .path3:before {
    content: "\e931";
    margin-left: -1.01171875em;
    color: rgb(0, 0, 0);
  }
  .icon-bidmanagement .path4:before {
    content: "\e932";
    margin-left: -1.01171875em;
    color: rgb(0, 0, 0);
  }
  .icon-bidmanagement .path5:before {
    content: "\e933";
    margin-left: -1.01171875em;
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path1:before {
    content: "\e934";
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path2:before {
    content: "\e935";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path3:before {
    content: "\e936";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path4:before {
    content: "\e937";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path5:before {
    content: "\e938";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path6:before {
    content: "\e939";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path7:before {
    content: "\e93a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path8:before {
    content: "\e93b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path9:before {
    content: "\e93c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path10:before {
    content: "\e93d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path11:before {
    content: "\e93e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path12:before {
    content: "\e93f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path13:before {
    content: "\e940";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path14:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path15:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-bridge .path16:before {
    content: "\e943";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-building:before {
    content: "\e944";
  }
  .icon-call-1:before {
    content: "\e945";
  }
  .icon-chemicals .path1:before {
    content: "\e946";
    color: rgb(0, 0, 0);
  }
  .icon-chemicals .path2:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-chemicals .path3:before {
    content: "\e948";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-chemicals .path4:before {
    content: "\e949";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-chemicals .path5:before {
    content: "\e94a";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-chemicals .path6:before {
    content: "\e94b";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-chemicals .path7:before {
    content: "\e94c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-chemicals .path8:before {
    content: "\e94d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-chemicals .path9:before {
    content: "\e94e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-chemicals .path10:before {
    content: "\e94f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-chemicals .path11:before {
    content: "\e950";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-chemicals .path12:before {
    content: "\e951";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-civilinfra .path1:before {
    content: "\e952";
    color: rgb(0, 0, 0);
  }
  .icon-civilinfra .path2:before {
    content: "\e953";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-civilinfra .path3:before {
    content: "\e954";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-civilinfra .path4:before {
    content: "\e955";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-civilinfra .path5:before {
    content: "\e956";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-defence .path1:before {
    content: "\e957";
    color: rgb(0, 0, 0);
  }
  .icon-defence .path2:before {
    content: "\e958";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-defence .path3:before {
    content: "\e959";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-defence .path4:before {
    content: "\e95a";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-defence .path5:before {
    content: "\e95b";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-defence .path6:before {
    content: "\e95c";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-defence .path7:before {
    content: "\e95d";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-defence .path8:before {
    content: "\e95e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-email:before {
    content: "\e95f";
  }
  .icon-engineering-1:before {
    content: "\e960";
  }
  .icon-engineering .path1:before {
    content: "\e961";
    color: rgb(207, 72, 39);
  }
  .icon-engineering .path2:before {
    content: "\e962";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-engineeringdesign .path1:before {
    content: "\e963";
    color: rgb(207, 72, 39);
  }
  .icon-engineeringdesign .path2:before {
    content: "\e964";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-engineeringdesign .path3:before {
    content: "\e965";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-geo .path1:before {
    content: "\e966";
    color: rgb(0, 0, 0);
  }
  .icon-geo .path2:before {
    content: "\e967";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-geo .path3:before {
    content: "\e968";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-geo .path4:before {
    content: "\e969";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-geo .path5:before {
    content: "\e96a";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-healthcare:before {
    content: "\e96b";
    color: #cf4827;
  }
  .icon-hospital .path1:before {
    content: "\e96c";
    color: rgb(207, 72, 39);
  }
  .icon-hospital .path2:before {
    content: "\e96d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-industrialinfra .path1:before {
    content: "\e96e";
    color: rgb(0, 0, 0);
  }
  .icon-industrialinfra .path2:before {
    content: "\e96f";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-industrialinfra .path3:before {
    content: "\e970";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-industrialinfra .path4:before {
    content: "\e971";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-industrialinfra .path5:before {
    content: "\e972";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-industrialinfra .path6:before {
    content: "\e973";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-industrialinfra .path7:before {
    content: "\e974";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-industrialinfra .path8:before {
    content: "\e975";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-industrialinfra .path9:before {
    content: "\e976";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-industrialinfra .path10:before {
    content: "\e977";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-logistics .path1:before {
    content: "\e978";
    color: rgb(0, 0, 0);
  }
  .icon-logistics .path2:before {
    content: "\e979";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-logistics .path3:before {
    content: "\e97a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-logistics .path4:before {
    content: "\e97b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-logistics .path5:before {
    content: "\e97c";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-logistics .path6:before {
    content: "\e97d";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-logistics .path7:before {
    content: "\e97e";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-logistics .path8:before {
    content: "\e97f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-mining .path1:before {
    content: "\e980";
    color: rgb(207, 72, 39);
  }
  .icon-mining .path2:before {
    content: "\e981";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-mining .path3:before {
    content: "\e982";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-mining .path4:before {
    content: "\e983";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-mining .path5:before {
    content: "\e984";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-mining .path6:before {
    content: "\e985";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-mining .path7:before {
    content: "\e986";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-mining .path8:before {
    content: "\e987";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-pharma .path1:before {
    content: "\e988";
    color: rgb(0, 0, 0);
  }
  .icon-pharma .path2:before {
    content: "\e989";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-pharma .path3:before {
    content: "\e98a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-pharma .path4:before {
    content: "\e98b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-pharma .path5:before {
    content: "\e98c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-pharma .path6:before {
    content: "\e98d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-pharma .path7:before {
    content: "\e98e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-pharma .path8:before {
    content: "\e98f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-pharma .path9:before {
    content: "\e990";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-pharma .path10:before {
    content: "\e991";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-pharma .path11:before {
    content: "\e992";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-pharma .path12:before {
    content: "\e993";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-pharma .path13:before {
    content: "\e994";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-pharma .path14:before {
    content: "\e995";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-pharma .path15:before {
    content: "\e996";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-pin:before {
    content: "\e997";
  }
  .icon-powerenergy .path1:before {
    content: "\e998";
    color: rgb(207, 72, 39);
  }
  .icon-powerenergy .path2:before {
    content: "\e999";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-powerenergy .path3:before {
    content: "\e99a";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-powerenergy .path4:before {
    content: "\e99b";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-powerenergy .path5:before {
    content: "\e99c";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-powerenergy .path6:before {
    content: "\e99d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-powerenergy .path7:before {
    content: "\e99e";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-power-plant .path1:before {
    content: "\e99f";
    color: rgb(0, 0, 0);
  }
  .icon-power-plant .path2:before {
    content: "\e9a0";
    margin-left: -1.0263671875em;
    color: rgb(207, 72, 39);
  }
  .icon-power-plant .path3:before {
    content: "\e9a1";
    margin-left: -1.0263671875em;
    color: rgb(207, 72, 39);
  }
  .icon-power-plant .path4:before {
    content: "\e9a2";
    margin-left: -1.0263671875em;
    color: rgb(207, 72, 39);
  }
  .icon-power-plant .path5:before {
    content: "\e9a3";
    margin-left: -1.0263671875em;
    color: rgb(207, 72, 39);
  }
  .icon-power-plant .path6:before {
    content: "\e9a4";
    margin-left: -1.0263671875em;
    color: rgb(207, 72, 39);
  }
  .icon-power-plant .path7:before {
    content: "\e9a5";
    margin-left: -1.0263671875em;
    color: rgb(207, 72, 39);
  }
  .icon-power-plant .path8:before {
    content: "\e9a6";
    margin-left: -1.0263671875em;
    color: rgb(207, 72, 39);
  }
  .icon-power-plant .path9:before {
    content: "\e9a7";
    margin-left: -1.0263671875em;
    color: rgb(207, 72, 39);
  }
  .icon-power-plant .path10:before {
    content: "\e9a8";
    margin-left: -1.0263671875em;
    color: rgb(207, 72, 39);
  }
  .icon-projectmanagement .path1:before {
    content: "\e9a9";
    color: rgb(0, 0, 0);
  }
  .icon-projectmanagement .path2:before {
    content: "\e9aa";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-projectmanagement .path3:before {
    content: "\e9ab";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-projectmanagement .path4:before {
    content: "\e9ac";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-projectmanagement .path5:before {
    content: "\e9ad";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-projectmanagement .path6:before {
    content: "\e9ae";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-projectmanagement .path7:before {
    content: "\e9af";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-projectmanagement .path8:before {
    content: "\e9b0";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-projectmanagement .path9:before {
    content: "\e9b1";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-projectmanagement .path10:before {
    content: "\e9b2";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-road .path1:before {
    content: "\e9b3";
    color: rgb(0, 0, 0);
  }
  .icon-road .path2:before {
    content: "\e9b4";
    margin-left: -1.015625em;
    color: rgb(0, 0, 0);
  }
  .icon-road .path3:before {
    content: "\e9b5";
    margin-left: -1.015625em;
    color: rgb(207, 72, 39);
  }
  .icon-road .path4:before {
    content: "\e9b6";
    margin-left: -1.015625em;
    color: rgb(0, 0, 0);
  }
  .icon-road .path5:before {
    content: "\e9b7";
    margin-left: -1.015625em;
    color: rgb(0, 0, 0);
  }
  .icon-road .path6:before {
    content: "\e9b8";
    margin-left: -1.015625em;
    color: rgb(207, 72, 39);
  }
  .icon-road .path7:before {
    content: "\e9b9";
    margin-left: -1.015625em;
    color: rgb(207, 72, 39);
  }
  .icon-road .path8:before {
    content: "\e9ba";
    margin-left: -1.015625em;
    color: rgb(207, 72, 39);
  }
  .icon-road .path9:before {
    content: "\e9bb";
    margin-left: -1.015625em;
    color: rgb(207, 72, 39);
  }
  .icon-road .path10:before {
    content: "\e9bc";
    margin-left: -1.015625em;
    color: rgb(207, 72, 39);
  }
  .icon-road .path11:before {
    content: "\e9bd";
    margin-left: -1.015625em;
    color: rgb(207, 72, 39);
  }
  .icon-road .path12:before {
    content: "\e9be";
    margin-left: -1.015625em;
    color: rgb(207, 72, 39);
  }
  .icon-road .path13:before {
    content: "\e9bf";
    margin-left: -1.015625em;
    color: rgb(207, 72, 39);
  }
  .icon-road .path14:before {
    content: "\e9c0";
    margin-left: -1.015625em;
    color: rgb(207, 72, 39);
  }
  .icon-road .path15:before {
    content: "\e9c1";
    margin-left: -1.015625em;
    color: rgb(207, 72, 39);
  }
  .icon-road .path16:before {
    content: "\e9c2";
    margin-left: -1.015625em;
    color: rgb(207, 72, 39);
  }
  .icon-road .path17:before {
    content: "\e9c3";
    margin-left: -1.015625em;
    color: rgb(207, 72, 39);
  }
  .icon-road .path18:before {
    content: "\e9c4";
    margin-left: -1.015625em;
    color: rgb(207, 72, 39);
  }
  .icon-solar-panel .path1:before {
    content: "\e9c5";
    color: rgb(207, 72, 39);
  }
  .icon-solar-panel .path2:before {
    content: "\e9c6";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-solar-panel .path3:before {
    content: "\e9c7";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-solar-panel .path4:before {
    content: "\e9c8";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-solar-panel .path5:before {
    content: "\e9c9";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-solar-panel .path6:before {
    content: "\e9ca";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-solar-panel .path7:before {
    content: "\e9cb";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-solar-panel .path8:before {
    content: "\e9cc";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-solar-panel .path9:before {
    content: "\e9cd";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-solar-panel .path10:before {
    content: "\e9ce";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tool .path1:before {
    content: "\e9cf";
    color: rgb(0, 0, 0);
  }
  .icon-tool .path2:before {
    content: "\e9d0";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tool .path3:before {
    content: "\e9d1";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tool .path4:before {
    content: "\e9d2";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tool .path5:before {
    content: "\e9d3";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tool .path6:before {
    content: "\e9d4";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tool .path7:before {
    content: "\e9d5";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tool .path8:before {
    content: "\e9d6";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tool .path9:before {
    content: "\e9d7";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tool .path10:before {
    content: "\e9d8";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tool .path11:before {
    content: "\e9d9";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tool .path12:before {
    content: "\e9da";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tool .path13:before {
    content: "\e9db";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tool .path14:before {
    content: "\e9dc";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-tool .path15:before {
    content: "\e9dd";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tool .path16:before {
    content: "\e9de";
    margin-left: -1em;
    color: rgb(207, 72, 39);
  }
  .icon-trees:before {
    content: "\e9df";
    color: #cf4827;
  }
  .icon-assembly-line .path1:before {
    content: "\e900";
    color: rgb(0, 0, 0);
  }
  .icon-assembly-line .path2:before {
    content: "\e901";
    margin-left: -0.9638671875em;
    color: rgb(0, 0, 0);
  }
  .icon-assembly-line .path3:before {
    content: "\e902";
    margin-left: -0.9638671875em;
    color: rgb(0, 0, 0);
  }
  .icon-assembly-line .path4:before {
    content: "\e903";
    margin-left: -0.9638671875em;
    color: rgb(0, 0, 0);
  }
  .icon-assembly-line .path5:before {
    content: "\e904";
    margin-left: -0.9638671875em;
    color: rgb(0, 0, 0);
  }
  .icon-assembly-line .path6:before {
    content: "\e905";
    margin-left: -0.9638671875em;
    color: rgb(0, 0, 0);
  }
  .icon-assembly-line .path7:before {
    content: "\e906";
    margin-left: -0.9638671875em;
    color: rgb(0, 0, 0);
  }
  .icon-assembly-line .path8:before {
    content: "\e907";
    margin-left: -0.9638671875em;
    color: rgb(0, 0, 0);
  }
  .icon-assembly-line .path9:before {
    content: "\e908";
    margin-left: -0.9638671875em;
    color: rgb(0, 0, 0);
  }
  .icon-assembly-line .path10:before {
    content: "\e909";
    margin-left: -0.9638671875em;
    color: rgb(0, 0, 0);
  }
  .icon-assembly-line .path11:before {
    content: "\e90a";
    margin-left: -0.9638671875em;
    color: rgb(207, 72, 39);
  }
  .icon-assembly-line .path12:before {
    content: "\e90b";
    margin-left: -0.9638671875em;
    color: rgb(207, 72, 39);
  }
  .icon-assembly-line .path13:before {
    content: "\e90c";
    margin-left: -0.9638671875em;
    color: rgb(207, 72, 39);
  }
  .icon-facebook:before {
    content: "\e90d";
  }
  .icon-leftarrow:before {
    content: "\e90e";
  }
  .icon-light-bulb .path1:before {
    content: "\e90f";
    color: rgb(207, 72, 39);
  }
  .icon-light-bulb .path2:before {
    content: "\e910";
    margin-left: -0.7998046875em;
    color: rgb(207, 72, 39);
  }
  .icon-light-bulb .path3:before {
    content: "\e911";
    margin-left: -0.7998046875em;
    color: rgb(207, 72, 39);
  }
  .icon-light-bulb .path4:before {
    content: "\e912";
    margin-left: -0.7998046875em;
    color: rgb(207, 72, 39);
  }
  .icon-light-bulb .path5:before {
    content: "\e913";
    margin-left: -0.7998046875em;
    color: rgb(207, 72, 39);
  }
  .icon-light-bulb .path6:before {
    content: "\e914";
    margin-left: -0.7998046875em;
    color: rgb(207, 72, 39);
  }
  .icon-light-bulb .path7:before {
    content: "\e915";
    margin-left: -0.7998046875em;
    color: rgb(207, 72, 39);
  }
  .icon-light-bulb .path8:before {
    content: "\e916";
    margin-left: -0.7998046875em;
    color: rgb(207, 72, 39);
  }
  .icon-light-bulb .path9:before {
    content: "\e917";
    margin-left: -0.7998046875em;
    color: rgb(207, 72, 39);
  }
  .icon-light-bulb .path10:before {
    content: "\e918";
    margin-left: -0.7998046875em;
    color: rgb(207, 72, 39);
  }
  .icon-light-bulb .path11:before {
    content: "\e919";
    margin-left: -0.7998046875em;
    color: rgb(0, 0, 0);
  }
  .icon-linkedin:before {
    content: "\e91a";
  }
  .icon-rightarrow:before {
    content: "\e91b";
  }
  .icon-tower .path1:before {
    content: "\e91c";
    color: rgb(207, 72, 39);
  }
  .icon-tower .path2:before {
    content: "\e91d";
    margin-left: -0.8076171875em;
    color: rgb(207, 72, 39);
  }
  .icon-tower .path3:before {
    content: "\e91e";
    margin-left: -0.8076171875em;
    color: rgb(207, 72, 39);
  }
  .icon-tower .path4:before {
    content: "\e91f";
    margin-left: -0.8076171875em;
    color: rgb(207, 72, 39);
  }
  .icon-tower .path5:before {
    content: "\e920";
    margin-left: -0.8076171875em;
    color: rgb(207, 72, 39);
  }
  .icon-tower .path6:before {
    content: "\e921";
    margin-left: -0.8076171875em;
    color: rgb(207, 72, 39);
  }
  .icon-tower .path7:before {
    content: "\e922";
    margin-left: -0.8076171875em;
    color: rgb(0, 0, 0);
  }
  .icon-tower .path8:before {
    content: "\e923";
    margin-left: -0.8076171875em;
    color: rgb(0, 0, 0);
  }
  .icon-twitter:before {
    content: "\e924";
  }
  .icon-worker .path1:before {
    content: "\e925";
    color: rgb(207, 72, 39);
  }
  .icon-worker .path2:before {
    content: "\e926";
    margin-left: -0.9501953125em;
    color: rgb(0, 0, 0);
  }
  .icon-worker .path3:before {
    content: "\e927";
    margin-left: -0.9501953125em;
    color: rgb(0, 0, 0);
  }
  